# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# dbt
target/
dbt_packages/
logs/

# Secrets
secrets/
*.json

# Environment variables
.env
.env.*
# dbt local profile
profiles.yml
